<?xml version="1.0" encoding="UTF-8" ?>
<!--suppress ALL -->
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %C{2} %x - %m%n"/>
        </Console>
        <RollingFile name="fileSpringOut" fileName="spring.output.log" filePattern="spring.output.log.%i" bufferedIO="false">
            <PatternLayout pattern="%d %-5p [%t] %C{2} %x - %m%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <RollingFile name="fileOut" fileName="output.log" filePattern="output.log.%i" bufferedIO="false">
            <PatternLayout pattern="%d %-5p [%t] %C{2} %x - %m%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="org.springframework" level="debug" additivity="false">
            <AppenderRef ref="fileSpringOut"/>
        </Logger>
        <Logger name="Common" level="info" additivity="false">
            <AppenderRef ref="fileOut"/>
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>