<?xml version="1.0" encoding="UTF-8" ?>
<Configuration >
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %C{2} %x - %m%n"/>
        </Console>
        <RollingFile name="fileJettyOut" fileName="jetty.output.log" filePattern="jetty.output.log.%i" bufferedIO="false">
            <PatternLayout pattern="%d %-5p [%t] %C{2} %x - %m%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
        <Logger name="org.eclipse.jetty" level="debug" additivity="false">
            <AppenderRef ref="fileJettyOut"/>
        </Logger>
    </Loggers>
</Configuration>